:root {
  --header-color: #08087c;
  --subheader-color: #00aeff;
  --decoration-color: #f1f4f5;
  --empty-space: 15vw;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: var(--decoration-color);
  margin: 0px;
  padding: 3rem var(--empty-space);
  display: flex;
  justify-content: space-between;
}

h1 {
  color: var(--header-color);
  margin: 0px;
  font-weight: 400;
  & + p {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.75rem;
    color: var(--subheader-color);
    margin: 0;
  }
}

h2 {
  color: var(--header-color);
  font-weight: 100;
}

h3 {
  color: var(--subheader-color);
  font-weight: 100;
  font-size: 1.25rem;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #000000;
  letter-spacing: 1px;
  font-size: 0.75rem;
  margin-left: 1.5rem;
  &:hover {
    text-decoration: underline;
  }
}

main {
  margin: 3rem var(--empty-space);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

article {
  width: 75%;
  & img {
    width: 100%;
    aspect-ratio: 5/2;
    object-fit: cover;
    display: inline-block;
    margin-bottom: 1rem;
  }
  & p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
    margin: 1rem 0;
  }
}

aside {
  border: 15px solid var(--decoration-color);
  padding: 1rem;
  width: 25%;
  height: max-content;
  & h2 {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;
    color: var(--header-color);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
  }
  & a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  & hr {
    width: 100%;
    border: 0px;
    height: 2px;
    background-color: var(--decoration-color);
    margin: 1rem 0;
  }
}

figure {
  padding: 0;
  margin: 0.5rem 0;
  & img {
    width: 100%;
    aspect-ratio: 5/3;
    object-fit: cover;
  }
  & figcaption {
    color: var(--header-color);
    line-height: 1.25rem;
    margin: 0;
  }
}

footer {
  background-color: var(--header-color);
  align-content: center;
  padding: 2rem;
  & p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #a0b2b3;
    margin: 0;
    font-size: 0.75rem;
  }
}

.bold {
  font-weight: 600;
}
